{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>Story 7 PPW</title>
{% endblock meta %}

{% block content %}
  <div class="accordion">
    <div class="acrodion-part">
      <div class="accordion-judul">Data diri
        <button type="button" class="up">^</button>
        <button type="button" class="down">v</button>
      </div>
      <div class="accordion-konten">
        <ul>
          <li>Benitho Ahmad Suryo</li>
          <li>Sistem Informasi</li>
          <li>Universitas Indonesia</li>
        </ul> 
      </div>
    </div>
    <div class="acrodion-part">
      <div class="accordion-judul">Aktivitas saat ini
        <button type="button" class="up">^</button>
        <button type="button" class="down">v</button>
      </div>
      <div class="accordion-konten">
        Kuliah
      </div>
    </div>
    <div class="acrodion-part">
      <div class="accordion-judul">Pengalaman organisasi/kepanitiaan
        <button type="button" class="up">^</button>
        <button type="button" class="down">v</button>
      </div>
      <div class="accordion-konten">
        Siwak 2020
      </div>
    </div>
    <div class="acrodion-part">
      <div class="accordion-judul">Prestasi
        <button type="button" class="up">^</button>
        <button type="button" class="down">v</button>
      </div>
      <div class="accordion-konten">
        Masuk UI
      </div>
    </div>
  </div>

  <script>
    $(".accordion").on("click", ".accordion-judul", function() {
      $(this).toggleClass("active").next().slideToggle();
    });

    $(".up").click(function() {
      var item = $(this).parents('div.acrodion-part'),
        swapwith = item.prev();
      item.after(swapwith);
    })

    $(".down").click(function() {
      var item = $(this).parents('div.acrodion-part'),
        swapwith = item.next();
      item.before(swapwith);
    })
  </script>
{% endblock content %}
